<!-- index.html.erb -->
<div class="container">
  <div class="all-cards">
    <% @house.each do |house| %>
      <div class="house-card-wrapper">
        <div class="house-card">
        </div>
          <div class="house-card-info">
            <%= house.price %>
            <%= link_to house.title, house_path(house), class: 'card-link' %>
          </div>
      </div>
    <% end %>
  </div>
  <img id="map" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/600x1000?access_token=pk.eyJ1IjoiZWNvbW1lcmNlcHJvIiwiYSI6ImNqdzI2NzAyZTAzbGkzeWszaGVwYzY2YWQifQ.a7CkfYTGEKFmcrI0nemmdA'>
</div>
