.all-cards {
  grid-gap: 7px;
  padding: 5px;
  flex-grow: 1;
  margin-top: 130px;
  grid-template-columns: 1fr 1fr;
  display: grid;
}

.house-card-infos {
  display: flex;
  justify-content: space-between;
  background: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

a.card-link {
  color: black;
}

.house-card img {
  height: 380px;
  width: 450px;
}

.house-card-title h2 {
  font-size: 15px;
  font-weight: light;
}

.house-card-title p {
  font-size: 14px;
  font-weight: light;
}

.house-card-infos h2 {
  font-size: 20px;
}

.listings-card {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

.dashboard_picture {
  height: 150px;
  width: 220px;
}

.card-header {
  display: flex;
}
