// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "card";
@import "map";
@import "form";
@import "button";
@import "dashboard";
@import "booking_summary";


.container {
  display: flex;
  max-width: 1480px;
}


@media(max-width: 992px) {
  .all-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .all-cards {
    grid-template-columns: 1fr;
  }
}

@media(max-width: 576px) {
  #map {
    display: none;
  }
}

.search_bar {
  position: absolute;
  margin: 20px;
  padding: 50px;
}

.house-title {
  font-size: 36px;
  font-weight: bold;
}

.house-full-section {
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  margin: 50px;
}

.house-details {
  padding-left: 70px;
  padding-right: 100px;
}

img {
  width: 100%;
}

.btn-primary {
  background: #ee5760;
  height: 35px;
  width: 180px;
  border-style: hidden;
  border-radius: 10px;
}

.btn-primary:hover {
  background: red;
}

#review_comment {
  overflow: auto;
  resize: vertical;
  height: 90px;
  width: 500px;
}

.submit-review {
  background-color: #EE5760;
  color: white;
  padding: 10px;
  border-radius: 10px;
}
