// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "card";


.container {
  display: flex;
  max-width: 1480px;
}


@media(max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

@media(max-width: 576px) {
  #map {
    display: none;
  }
}

.search_bar {
  position: absolute;
  margin: 20px;
  padding: 50px;
}

#map {
  overflow: hidden;
}

.house-title {
  font-size: 36px;
  font-weight: bold;
}

.house-details {
  margin: 50px;
}

.house-full-section {
  display: flex;
  background: white;
}
